/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #78949e, #2980b9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background-color: rgba(54, 54, 54, 0.6);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  background-color: #50a372;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #219150;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
