Body {
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(218, 217, 217);
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 20px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    color: rgb(192, 192, 192);
    font-size: 20px;
    list-style: none;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container img {
    max-width: 200px;
    max-height:250px;
}

.container {
    clear: both;
    margin-top: 20px;
}

img {
    vertical-align: top
}

li{
    font-size: 22px;
}

.inicial {
    list-style:circle;
    color: rgb(255, 255, 255);
}


